.TypeSelector {
  background-color: green;
}

.TypeSelector_select {
  font-size: 2rem;
  text-transform: capitalize;
}

.TypeSelector_option {
  text-transform: capitalize;
  background-color: lightsalmon;
}