.TypeSelector {
  background-color: green;
}

.TypeSelector_list {
  display: inline-block;
  padding-left: 1rem;
  margin: 0;
}

.TypeSelector_item {
  display: inline-block;
  position: relative;

  & + & {
    margin-left: 1rem;
  }
}

.TypeSelector_label {
  text-transform: capitalize;
  background-color: lightsalmon;

  .TypeSelector_input:checked + & {
    background-color: lightgreen;
  }
}

.TypeSelector_input {
  position: absolute;
  opacity: .01; // Bcz 0 would disable it at IE
  top: 0;
  left: 0;
}
