.Paginator {
  background-color: orchid;
  font-size: 2rem;
  text-align: center;
}

.Paginator_link {
  background-color: gold;
  display: inline-block;
  margin: 0 1rem;
  text-decoration: none;
  border: 1px solid #000;
  padding: .25rem;
}
